<%- include('partials/header') %>

<!-- Showing all the scheduled events, both, registered or not -->
<section id="events">
    <h1 class="tests">Your Tests!</h1>
    <% event.forEach(function(event){ %>
    <div class="container-fluid quiz-flyer" style="margin-top:20px;">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 ">
                <img src="<%= event.event_banner %>" class="event-pic">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 quiz-info">
                <h2 class="event-name">
                    <%= event.event_name %>
                </h2>
                <p class="event-description">
                    <%= event.event_description %>
                </p>
                <h3 class="startDate">
                    <%= event.startDate.toLocaleString(); %>
                </h3>
                <% var isRegistered=false; %> 
                <% var index = 0; %> 
                <% for( let i = 0; i < user.registration.length; i++ ) { %>
                    <% if (user.registration[i].event_name === event.event_name) { %>
                           <% isRegistered = true; %>                   
                           <% index=i; %> 
                           <% break; %> 
                    <% } %>   
                <% } %>
                <%if(isRegistered===false){%>
                <form class="register" action="/register" method="POST">
                    <input type="text" name="event_name" value="<%=event.event_name%>" hidden>
                    <button type="submit" class="btn btn-outline-danger">Register</button>
                </form>
                <%}else{%>
                <%const present=new Date(); %>
                <%if(present<=event.startDate){%>
                <button class="btn btn-outline-danger">Registration Complete</button>
                <%}else{%>
                <%if(user.registration[index].ticked.length===0){%>
                <form class="register" action="/start" method="POST">
                    <input type="text" name="event_name" value="<%=event.event_name%>" hidden>
                    <button type="submit" class="btn btn-outline-danger">Start
                        Test</button>
                </form>
                <%}else{%>
                <h3 class="score">Your Score is <%=user.registration[index].score%>
                </h3>
                <%}%>
                <%}%>

                <%}%>
                    </div>
                </div>
            </div>
                <%});%>
</section>

<%- include('partials/footer') %>