<%- include('partials/header') %>

<div class="container-fluid">
  <div class="event-title"><%=event.event_name %></div>

  <div class="timer-box">
    <div class="timer">
      <span class="hours">10</span>
      <span> : </span>
      <span class="minutes">20</span>
      <span> : </span>
      <span class="seconds">33 </span>
    </div>
  </div>


  <form class="quiz-form" action="/quizsubmit" method="POST">
    <% for(var i=0; i < event.questions.length; i++){ %>
    <div class="q-block">
      <p class="question">
        <%=event.questions[i].question%>
      </p>
      <hr>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 opts">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<%= " ans_" + i + "ans" %>" value="A" id="<%= i
                  + " o1" %>">
            <label class="form-check-label" for="<%= i + " o1" %>">
              <%=event.questions[i].option_a%>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 opts">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<%= " ans_" + i + "ans" %>" value="B" id="<%= i
                  + " o2" %>">
            <label class="form-check-label" for="<%= i + " o2" %>">
              <%=event.questions[i].option_b%>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 opts">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<%= " ans_" + i + "ans" %>" value="C" id="<%= i
                  + " o3" %>">
            <label class="form-check-label" for="<%= i + " o3" %>">
              <%=event.questions[i].option_c%>
            </label>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 opts">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<%= " ans_" + i + "ans" %>" value="D" id="<%= i
                  + " o4" %>">
            <label class="form-check-label" for="<%= i + " o4" %>">
              <%=event.questions[i].option_d%>
            </label>
          </div>
        </div>
      </div>
    </div>
    <% } %>
    <div class="for-button">
      <button type="submit" class="btn btn-outline-danger sub-btn">Submit</button>
    </div>

  </form>
</div>
<!-- JQuery CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="js/quiz.js" type="text/javascript"></script>
<%- include('partials/footer') %>